:root{
    --border: 1px solid black;
}

body{
    line-height: 1.25;
}

header{
    border-bottom: var(--border);
    padding: 1em 2em;
}
main.scrapbook{
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 1em;
}
h1,h2,h3{
    font-weight: bold;
}

/* one scrap overview on the collection page */

.scrap{
    position: relative;
    cursor: pointer;

    border: var(--border);
}
.scrap__info{

    /* backdrop filter */
    position: absolute;
    inset: -0.5em;
    padding: 1.5em;
    backdrop-filter: blur(0.35em);
    z-index: 999;

    /* center small box inside */
    display: flex;
    justify-content: center;
    align-items: center;

    /* hidden by default */
    pointer-events: none;
    opacity: 0;

    transition: 0.35s opacity;
}
/* small box inside */
.scrap__info div{
    cursor: initial;
    border: var(--border);
    background-color: whitesmoke;
    padding: 0.5em;
}
.scrap:hover .scrap__info{
    pointer-events: all;
    opacity: 1;

}