{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{% static '/styles/reset.css' %}">
		<link rel="stylesheet" href="{% static '/styles/style.css' %}">
		<title>Scraps</title>
	</head>
	<body>

		<header>
			<h1>Scraps</h1>
			<p>Found {{ scraps|length }} scraps</p>
			<nav>
				<ul>
					{% for scrap in scraps %}
					{% ifchanged scrap.fullname %} 
					<li>{{ scrap.fullname }}</li>
					{% endifchanged %}
					{% endfor %}
				</ul>
			</nav>
		</header>

		{% block content %}{% endblock %}

		<script type="module" defer src="{% static '/js/init.css' %}"></script>
	</body>
</html>