{% extends 'base.html'%}
{% load mathfilters %}
{% block content %}

<main class="scrapbook">

  {% for scrap in scraps %}
  <div class="scrap">

    <div class="scrap__info">
      <div>
        <h2>{{ scrap.fullname }}</h2>
        scrapped on the <time datetime="{{ scrap.createdAt }}">{{ scrap.createdAt }}</time> <br/>
        by ... <br/>
        on <a href="{{ scrap.domain }}">{{ scrap.domain }}</a><br/>
        <a href="#link-to-scrap">see more</a>
      </div>
    </div>
    
    {# scrap are showed at 0.66 their original size using transform #}
    <div style="width: {{ scrap.width|mul:0.66 }}px; height: {{ scrap.height|mul:0.66 }}px;">
      <iframe class="scrap__iframe"
              width="{{ scrap.width }}" height="{{ scrap.height }}"
              style="transform:scale(0.66); transform-origin: top left;"
              src="{% url 'iframe' scrap.pk %}"></iframe>
    </div>

  </div>
  {% endfor %}

</main> 
{% endblock %}





